<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

<h:head>
	<title>Протокол Шнорра</title>
</h:head>
<h:body>
	<f:view renderKitId="PRIMEFACES_MOBILE">
		<pm:page id="page">
			<pm:header title="Протокол Шнорра" swatch="b"/>
			<pm:content id="content">
				<p:panel id="pnl" header="Входные данные">
					<h:form>
						<pm:field>
							<p:outputLabel value="p: " for="p" />
							<p:inputText id="p" value="#{schnorrBean.p}" />
						</pm:field>
						<pm:field>
							<p:outputLabel value="q: " for="q" />
							<p:inputText id="q" value="#{schnorrBean.q}" />
						</pm:field>
						<pm:field>
							<p:outputLabel value="g: " for="g" />
							<p:inputText id="g" value="#{schnorrBean.g}" />
						</pm:field>
						<pm:field>
							<p:commandButton value="Аутентификация"
								actionListener="#{schnorrBean.schnorr}" 
								update=":page:pnl1, :page:pnl2" />
						</pm:field>
					</h:form>
				</p:panel>
				<p:panelGrid columns="2" id="pg">
					<p:panel id="pnl1" header="Алиса">
						<p:inputTextarea id="ta1" rows="5" cols="100"
							value="#{schnorrBean.alice}" autoResize="false" />
					</p:panel>
					<p:panel id="pnl2" header="Боб">
						<p:inputTextarea id="ta2" rows="5" cols="100"
							value="#{schnorrBean.bob}" autoResize="false" />
					</p:panel>
				</p:panelGrid>
			</pm:content>
		</pm:page>
	</f:view>
</h:body>
</html>